@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    font-size: large;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    height: 90vh;
    width: 100vh;
    font-size: large
    ;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    font-size: large;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    margin-right: 29px;
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-group input.optional {
    width: calc(100% - 120px);
}

#experience-details {
    display: none;
}

.add-btn {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.submit-btn:hover, .add-btn:hover {
    background-color: #0056b3;
}

#skills-container, #certifications-container, #languages-container, #hobbies-container {
    display: flex;
    flex-wrap: wrap;
}

#skills-container input, #certifications-container input, #languages-container input, #hobbies-container input {
    flex: 1;
    margin-right: 10px;
}

.required {
    color: red;
}
